    <div id="image">
        <div id="imagebg">
                <div class="panel panel-default" style="width:30%;margin-left:35%;margin-right:25%;margin-top:0%;position:absolute;background-color:rgb(0, 116, 170)">
                    <h1 style="color:rgb(255,255,255);text-transform: uppercase ">Registration Form</h1>
                </div>
                <div class="panel panel-default" style="width:30%;margin-left:35%;margin-right:25%;margin-top:5%;position:absolute;background-color:rgba(255, 255, 255, 0.624)">
                    <form #userd="ngForm" (ngSubmit)="user(userd.value)">
                        <div style="margin-top: 0px">
                            <div style="margin-left:35px">
                                <div style="align:center" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input autofocus type="text" style="width: 90%" #unamee="ngModel" class="form-control" [(ngModel)]="uname"  name="uname" title="YourName" placeholder="YourName"
                                        required>
                                    </div>
                                    <br>
                                    <div style="align:center" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input autofocus type="email" style="width: 90%" #id="ngModel" class="form-control" [(ngModel)]="_id" name="_id" title="Your email" placeholder="Email"                           lder="Email"
                                        required>
                                    </div>
                                    <br>
                                    <div style="align:center" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </span>
                                    <input autofocus type="password" style="width: 90%" #passw="ngModel" class="form-control" id="password" name="pass" [(ngModel)]="pass" title="Password" placeholder="Password"
                                        required>
                                    </div>
                                    <br>
                                    <div style="align:center" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-eye-close"></i>
                                    </span>
                                    <input autofocus type="password" style="width: 90%" class="form-control" #pass1="ngModel" name="conpass" [(ngModel)]="conpass" title="password" placeholder="confirm-Password"
                                        required>
                                    </div>
                                    <br>
                                    <div style="align:center" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-phone"></i>
                                    </span>
                                    <input autofocus type="text" style="width: 90%" class="form-control" #mobl="ngModel" id="pno" name="mob" [(ngModel)]="mob" title="Phone number" placeholder="Mobile number"
                                        required>
                                    </div>
                                    <br>
                                    <div style="align:center" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                    <input autofocus type="lisence no" style="width: 90%" (change)="onFileSelected($event)" name="lns" placeholder="licencse no"  id="photo" class="form-control">
                                    </div>
                                    <br>  
                                    <div style="align:center" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <input autofocus type="text" [(ngModel)]="adr" style="width: 90%" class="form-control" #lic="ngModel" name="adr" title="Aadhar" placeholder="Aadhar"
                                    required>
                                </div>
                                <br>  
                                <div style="align:center" class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-book"></i>
                                    </span>
                                    <input autofocus type="text" style="width: 90%" class="form-control" id="add" #addr="ngModel" [(ngModel)]="add" name="add" title="Address" placeholder="location"
                                        required>
                                </div>
                                <br>
                                </div>
                                <button autofocus class="button button1" [disabled]="!unamee.value||!id.value||!passw.value||!pass1.value||!mobl.value||!lic.value||!addr.value" type="submit" name="submit" style="width:83%">Register</button>
                                </div>
                                <div>
                                <a routerLink="/userlogin">Already registered?Login here</a>
                        </div>
                    </form>
                </div>
          </div>
    </div>
