<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div id="image">
        <div id="imagebg"> 
<div class="container-fluid">
  <div class="row">
    <div class="col" style="background-color:rgb(164, 164, 204); "><h3>About Us</h3><br><span style="font-size:15px">Wanna see the surroundings?, 

      wanna go anywhere?We will provide you the 
      
      bike of your choice.All you need to have  
      
      proper documents.Sign in & enjoy </span></div>
    <div class="col" style="background-color:rgb(164, 164, 204);"><h3>Bike Cities</h3><br><span style= "font-size:15px">vizag<br>
            vizianagaram<br>
            srikakulam<br>
            vijayawada<br>
            & all over AP</span></div>
    <div class="col" style="background-color:rgb(164, 164, 204);"><h3>Contact Us</h3><br>
      
      <span style="font-size:15px">bikerentals123@gmail.com<br>
Mobile:+91-9966789165(customer care)</span></div>
<div class="col" style="background-color:rgb(164, 164, 204);"> 
  
    <div class="container">
    
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">developers</button>
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
  
  
             
              <div class="modal-body">
                <p>Yagnesh</p>
              </div>
      
              <div class="modal-body">
                <p>Yaswanth</p>
              </div>
              
              <div class="modal-body">
                <p>Manohar</p>
              </div>
      
              <div class="modal-body">
                <p>veena</p>
              </div>
      
              <div class="modal-body">
                <p>annapurna</p>
              </div>
               
              <div class="modal-body">
                <p>Gunakar sai</p>
              </div>
      
              <div class="modal-body">
                <p>Someswari</p>
              </div>
      
              <div class="modal-body">
                <p>raja narasimham</p>
              </div>
      
              <div class="modal-body">
                <p>harish</p>
              </div>
      
              <div class="modal-body">
                <p>kishore</p>
              </div>
      
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><img src="https://lh3.googleusercontent.com/slOWCMLGbQDtNbv6KsPt7seBNhZmdUissU8pq_wTDvnHi93GLgMkBn6d5fWI0AdfVqRAQO3AW8HqjUoRZDeMfQG-r_jNwbyee_zUYuf60zPbXa66NRDqzRGpXpWyVHKy_dytQOFfn13729YyPxDy1VWlAOM_dVcOUzKOKtPjmTa1XlGQNCZCJuy2X8TiIPHI6JLU70ZrlMyFpbMWaHBNV_0UBh-hSKBcvzbUQm29Ww2haIsJ835jtF9tc7XlkOcNmIduVTtc239w3rLRhnnaHei3r6L8hpzGGjKIfTGtt2a1nwWLF2Ey0xuqBZ3ynm6ITZHJG0CfXpswdNX1bhkkbjtTj5bq28fF9wAfmy-fY_2j6A_zWeBnn3vcNiujZl7nIKnqix94dcn4Wg7A9kOeUwOX0BBU4IeKIR53SsLwz5qqbrUzjie7mtX0cjH1NiX4XVAbYeRT-G7WPwVlWZIj_4DLu3Yw14pnxQlsoEXKi2_b2QYelOwAparP6aqX8Ijw6b-esBx6U9PmXQ32djBddP7ZpcsT6iJTA1YJpHZml6b_bt9Xtoxy0KQ-4BNXiXgik35XCz0txQS7i3khD7JWlQyn1kUgeOLoHi5v3Q=w956-h637-no" height="20">Go Ride</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
</html>
