<div id="image">
    <div id="imagebg">
<div class="container">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">My Profile</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>{{username}}</strong></h4>
        </div>
        <div class="modal-body">
          <p><img src="http://localhost:4000/images/{{userimg}}" height="200" width="180"></p>
        </div>
        <div class="modal-body">
          <p><strong>Phone number :</strong>{{phnum}}</p>
        </div>
        <div class="modal-body">
          <p><strong>Address :</strong>{{address}}</p>
        </div>
        <div class="modal-footer" style="float:left">
            <a routerLink="/">logout</a>
          </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><img src="https://lh3.googleusercontent.com/slOWCMLGbQDtNbv6KsPt7seBNhZmdUissU8pq_wTDvnHi93GLgMkBn6d5fWI0AdfVqRAQO3AW8HqjUoRZDeMfQG-r_jNwbyee_zUYuf60zPbXa66NRDqzRGpXpWyVHKy_dytQOFfn13729YyPxDy1VWlAOM_dVcOUzKOKtPjmTa1XlGQNCZCJuy2X8TiIPHI6JLU70ZrlMyFpbMWaHBNV_0UBh-hSKBcvzbUQm29Ww2haIsJ835jtF9tc7XlkOcNmIduVTtc239w3rLRhnnaHei3r6L8hpzGGjKIfTGtt2a1nwWLF2Ey0xuqBZ3ynm6ITZHJG0CfXpswdNX1bhkkbjtTj5bq28fF9wAfmy-fY_2j6A_zWeBnn3vcNiujZl7nIKnqix94dcn4Wg7A9kOeUwOX0BBU4IeKIR53SsLwz5qqbrUzjie7mtX0cjH1NiX4XVAbYeRT-G7WPwVlWZIj_4DLu3Yw14pnxQlsoEXKi2_b2QYelOwAparP6aqX8Ijw6b-esBx6U9PmXQ32djBddP7ZpcsT6iJTA1YJpHZml6b_bt9Xtoxy0KQ-4BNXiXgik35XCz0txQS7i3khD7JWlQyn1kUgeOLoHi5v3Q=w956-h637-no" height="20">Go Ride</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
