.footer {
    
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    height:7%;
    margin-top:50%;
    background-color: #01070a;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}